$TTL	604800
adattiva.xyz.	IN	SOA	vm1.adattiva.xyz. altroh.adattiva.xyz. (
			      2		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;
adattiva.xyz.	IN	NS	vm1
vm1	IN	A	192.168.42.30
vm2	IN	A	192.168.42.28