server {
	listen 80 default_server;
#        listen [::]:80 default_server;

      #Open port 8080 to allow nginx exporters to query the web server

	listen 8080 default_server;
#        listen [::]:8080 default_server;

	server_name _;


#Reverse proxy for Agama
{% if inventory_hostname in groups['app_servers'] %}
    location / {
         proxy_pass http://{{ localhost_address }}:{{ docker_agama_port }};
         proxy_set_header Host $http_host;
      #  include uwsgi_params;
    }
{% endif %}



{% if inventory_hostname in groups['web_servers'] %}
#Activate Nginx statistics

        location /stub_status {
                stub_status;
   }
{% endif %}



{% if inventory_hostname in groups['node_exporters'] %}
#Reverse proxy for node exporters

   location /metrics {
     proxy_pass http://{{ localhost_address }}:{{ prometheus_exporters['node']['port'] }}/metrics;
   }
{% endif %}

{% if inventory_hostname in groups['web_servers'] %}
#Reverse proxy for Nginx exporter

  location /nginx-metrics {
     proxy_pass http://{{ localhost_address }}:{{ prometheus_exporters['nginx']['port'] }}/metrics;
   }
{% endif %}

{% if inventory_hostname in groups['db_servers'] %}
#Reverse proxy for MySQL exporter

   location /mysql-metrics {
      proxy_pass http://{{ localhost_address }}:{{ prometheus_exporters['mysql']['port'] }}/metrics;
    }
{% endif %}

{% if inventory_hostname in groups['dns_servers'] %}
#Reverse proxy for Bind exporter

   location /bind-metrics {
      proxy_pass http://{{ localhost_address }}:{{ prometheus_exporters['bind']['port'] }}/metrics;
    }
{% endif %}

{% if inventory_hostname in groups['prometheus'] %}
#Reverse proxy for Prometheus

    location /prometheus {
      proxy_pass http://{{ localhost_address }}:9090;
    }
{% endif %}

{% if inventory_hostname in groups['grafana'] %}
#Reverse proxy for Grafana

   location /grafana {
       proxy_pass http://{{ localhost_address }}:{{ docker_grafana_port }};
     # proxy_pass http://{{ localhost_address }}:3000;
    }
{% endif %}



# Reverse proxy LAB 13
{% if inventory_hostname in groups['haproxy'] %}
#Reverse proxy for HAProxy exporter

    location /haproxy-metrics {
        proxy_pass http://{{ localhost_address }}:{{ docker_haproxy_exporter_port }}/metrics;
    }

    location /keepalived-metrics {
        proxy_pass http://{{ localhost_address }}:{{ keepalived_exporter_port }}/metrics;
    }
{% endif %}

{% if inventory_hostname in groups['haproxy'] %}
#Reverse proxy for HAProxy

     location /haproxy {
        proxy_pass http://{{ localhost_address }}:{{ haproxy_port }}/haproxy?stats;
     }
{% endif %}


}
