key "dns-update" {
        algorithm HMAC-SHA512;
        secret {{ dns_update }};
};


zone "{{ domain }}" {
    type master;
    file "/var/lib/bind/db.{{ startup_name }}";
    allow-transfer { key dns_transfer; };
    allow-update { key dns_update; };
};
